.body {
    width: min-content;
    height: 650px;
    /*background-image: url("image.png");*/
    background-color: #36f465;
    margin-left: 110px;
    /* box-shadow: 0px 0px 100px  #00e600; */
    box-shadow: 0px 20px 20px;
}

.container {
    position: relative;
    height: 350px;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(46, 44, 44);
    border: 2px solid #e44d26;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 35px;
}

.button {
    margin-top: 10px;
    height: 50px;
    width: 20%;
    display: block;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: Uppercase;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.6s;
    margin-left: 150px;
    position: relative;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background: linear-gradient(to left, #13f1fc 0%, #0470dc 105%);
}

.form-input {
    height: 600px;
    width: 1200px;
    background-image: url("backimage.png");
    margin-left: 50px;
    margin-bottom: -50px;
    margin-right: 50px;
    border: 1px solid #bfbfbf;
    box-shadow: 0px 0px 30px #e40808;
}

.form-input input {
    display: none;
}

.form-input label {
    display: block;
    width: 30%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: white;
    border-radius: 8px;
    color: black;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    text-transform: Uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
}

.form-input img {
    height: 345px;
    width: 36%;
    position: relative;
    top: -500px;
    margin-left: 46px;
    margin-top: 50px;
}

.img {
    height: 450px;
    width: 650px;
    background-color: white;
    margin-left: 700px;
    margin-top: -500px;
}